body {
    display: flex;
    justify-content: center;
    height: 60vh;
    align-items: center;
    flex-direction: column;
    background-image: url("./FormulaOne_Button_2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.btn{
    display: flex;
    gap: 1rem;
}

#chrono {
    border: 2px solid whitesmoke;
    background-color: blanchedalmond;
    border-radius: 8px;
    height: 10vh;
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    margin-bottom: 3rem;
}

#chrono strong {
    margin-inline: 1rem;
    vertical-align: top;
}

button {
    font-size: 2rem;
    padding: 1rem;
    border-radius: 8px;
    border-color: rgba(0, 0, 0, 0.575);
}

button:first-child {
    background-color: lime;
}
button:nth-child(2) {
    background-color: red;
}
button:last-child {
    background-color: rgba(192, 233, 10, 0.774);
}
