body
{
    background-color: black;
}

#zombietomb
{
    padding-block: 5rem;
    background: url(../img/zombie.png) no-repeat;
    /* background-size: 100%; */
    width:100px;
    height:100px;
    border-bottom: 5px solid white;
    border-width: 10px;
}
