*,
*::after,
*::before {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    height: 90vh;
    width: 90vw;
    background-image: url(../HIGHFIVE/Intégration/maquette_diverse/img-hello-world-main/ressources/map-image.png);
    background-color: black;
}
article {
    margin-block: 2rem;
}

.ball {
    position: relative;
    width: 100px;
    aspect-ratio: 1;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50%;
}

.ball3 {
    background-color: rgb(255, 255, 255);
}